Repository balancednetwork/balanced-solidity-contracts, pull requests merged in 2024-06, with the labels that each got.

#18 ci: add hygiene check ci workflow
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task-template.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/auto-pr-labeler.yaml
  .github/workflows/check-pr-label.yaml
  .github/workflows/lint-pr.yaml
Labels: documentation, cicd

#20 fix: Minor fixes from hashlock audit
  src/asset-manager/AssetManager.sol
  src/asset-manager/RLPDecodeStruct.sol
  src/bnusd/BalancedDollar.sol
  src/oracle-proxy/OracleProxy.sol
  src/xcall-manager/XCallManager.sol
Labels: bug, enhancement

#21 fix: Prevent use of duplicate protocols and misconfigured protocol removals
  src/xcall-manager/XCallManager.sol
  test/xcall-manager/XCallManager.t.sol
Labels: bug, enhancement, test

#22 fix: set-admin multiple step
  src/oracle-proxy/OracleProxy.sol
  src/xcall-manager/XCallManager.sol
  test/xcall-manager/XCallManager.t.sol
Labels: test

#23 fix: events added for important state updates
  src/asset-manager/AssetManager.sol
  src/xcall-manager/XCallManager.sol
Labels: enhancement

#27 fix: asset manager deposit balance issue
  src/asset-manager/AssetManager.sol
  test/asset-manager/AssetManager.t.sol
Labels: enhancement, test

#26 fix: calculate limit issue fixed
  src/asset-manager/AssetManager.sol
  src/xcall-manager/XCallManager.sol
Labels: bug
